@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.tjanster-section-wrapper {
  background-image: url("/dronepic.png");
  background-size: cover;
}

.tjanster-padding-section-large {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 300px 0;
}

.tjanster-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.tjanster-content-wrapper {
  display: flex;
  width: 575px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: white;
  gap: 14px;
}

.tjanster-grid {
  background-color: #3f3f3f;
  height: 200px;
  width: 100%;
}

.tjanster-section-wrapper-bottom {
  background-color: #3f3f3f;
}

.tjanster-section-wrapper-bottom-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.tjanster-section-wrapper-bottom-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tjanster-section-wrapper-bottom-content h5 {
  color: var(--Grey-2, #d8d8d8);
  text-align: center;
  font-family: "Space Mono";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 10px 0;
  /* 42px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.tjanster-section-wrapper-bottom-content p {
  color: var(--Grey-2, #d8d8d8);
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  margin: 0;
}

@media (max-width: 991px) {
  .tjanster-section-wrapper-bottom-content h5 {
    font-size: 24px;
  }
  .tjanster-section-wrapper-bottom-content img {
    height: 42px;
  }
  .tjanster-section-wrapper-bottom-content p {
    font-size: 18px;
  }

  .tjanster-padding-section-large {
    padding: 200px 0;
  }
}

/* Styles for screens up to 478px wide */

@media (max-width: 478px) {
  .tjanster-section-wrapper-bottom-content h5 {
    font-size: 16px;
  }
  .tjanster-section-wrapper-bottom-content img {
    height: 24px;
  }
  .tjanster-section-wrapper-bottom-content p {
    font-size: 12px;
  }
}
