/* Base styles - applied for all screen sizes */

.nationer-content-wrapper-top {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 80%;
    width: 100%;
}

.nationer-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.nationer-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.nationer-content-wrapper-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.nationer-content-bottom {
    width: 50%;
    min-width: 200px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #404040;
    padding: 0 50px;   
}

.nationer-content-bottom h5 {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

/* Styles for screens up to 991px wide */

@media (max-width: 991px) {
    .nationer-content-wrapper-top, 
    .nationer-content-wrapper-bottom {
        flex-direction: column;
        max-width: 100%;
    }

    .nationer-content-bottom {
        width: 100%;
        padding: 0 0;
    }

    /* Additional styles can be added here as needed */
}

/* Styles for screens up to 478px wide */

@media (max-width: 478px) {
    .nationer-section-wrapper {
        gap: 75px; /* Reduced gap for smaller screens */
    }

    .nationer-content-wrapper-top  h2 {
        font-size: 26px;

    } 

    .nationer-content-wrapper-top  p {
        font-size: 14px;

    } 

    .nationer-content-bottom h5 {
        font-size: 20px; /* Smaller font size */
    }

    

    /* Additional styles can be added here as needed */
}
