/* Base styles - applied for all screen sizes */

.landing-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 400px;
  padding: 100px 0;
  background-color:#0d1b2c;
}
.animation-header {
  margin-bottom: 0px;
}
.picture-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.picture-wrapper img {
  width:auto;
  height:auto;
  aspect-ratio: "1:1";
  max-width:400px;
  top: auto;
  z-index: 1;
}

.landing-content-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;  
  flex-direction: column;
  align-items: center;
}

.text-wrapper {
  max-width:670px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

.text-wrapper p {
  font-family: "JosefinaSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 991px) {
  .landing-section-wrapper {
    padding: 140px 0;
  }

 
  .landing-grey-image {
    margin-bottom: 75px;
  }
  .text-wrapper {
    max-width: 600px;
  }
}

@media (max-width: 478px) {

  .text-wrapper {
    max-width: 90%;
  }

  .text-wrapper h1 {
    font-size: 32px;
  }

  .text-wrapper p {
    font-size: 16px;
  }
}
