.footer-section-wrapper {
    background-color: black;
    color: white;
    padding: 0px 30px;

}

.footer-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 36px;

}

.footer-content-wrapper img {
    width: 101px;
    height: 36px;

}

.breakline {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.30);
}

.footer-contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 36px;
}

.footer-contact-content-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 100px;
}

.footer-contact-wrapper p {
    color: var(--Grey-1, #F5F5F5);
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 3px 0px;
    


}

.copyright {
    margin-top: 28px;
}