.jobb-section-wrapper {
    display: flex;
    flex-direction: row;

}

.office-picture {
    background-image: url('/jobb-office-picture.png');
    background-size: cover;
    height: auto;
    width: 60%;

}

.jobb-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    padding: 0 96px;

}

.jobb-content-wrapper h1 {

    margin: 7.5px 0px;
    font-family: 'Inter';
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}

.jobb-content-wrapper p {

    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 7.5px 0px;

}

.jobb-content-wrapper button {
    color: white;
    background-color: rgba(38, 38, 38, 1);
    border: 0px;
    height: 62px;
    font-family: 'Space Mono';
    text-transform: uppercase;
    padding: 12px 24px;
    font-size: 18px;
    margin-top: 35px;

}


.jobb-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;

}

@media (max-width: 991px) {
    .jobb-section-wrapper {
        flex-direction: column;
    }
    .office-picture {
        min-height: 500px;
        width: 100%;
    }
    .jobb-content-wrapper {
        padding: 0 16px;
    
    }
}

@media (max-width: 478px) {

}