/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/Navbar/Navbar.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* Base styles - applied for all screen sizes */

.navbar {
  background-color: white;
  font-family: "Inter", sans-serif;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.padding-section-nav {
  padding: 20px 0;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hamburger-wrapper {
  display: flex;
  gap: 25px;
}

.navbar-buttons {
  display: flex;
  gap: 12px;
}

.navbar-links a {
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:last-child {
  margin-right: 0;
}

.navbar-kontakt,
.navbar-eng {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #8a684a; /* For .navbar-kontakt */
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--Grey-1, #f5f5f5);
  cursor: pointer;
}

.navbar-eng {
  background-color: #9c8773; /* Specific for .navbar-eng */
}

/* Styles for screens up to 991px wide */

@media (max-width: 991px) {
  .hamburger-wrapper {
    display: none; /* Show hamburger menu */
  }
  .padding-section-nav {
    padding: 20px 0;
  }

  /* Additional responsive styles can be added here */
}

/* Styles for screens up to 478px wide */

@media (max-width: 478px) {
  .navbar-logo {
    font-size: 20px; /* Smaller logo font size */
  }

  /* Further adjustments can be made here as needed */
}

/* Existing media query for screens up to 768px wide */

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.padding-global {
  padding: 0 96px;
}

.container-large {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.container-medium {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.container-small {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

.padding-section-xl {
  padding: 164px 0;
}

.padding-section-large {
  padding: 128px 0;
}

.padding-section-medium {
  padding: 96px 0;
}

.padding-section-small {
  padding: 64px 0;
}

.padding-section-mini {
  padding: 32px 0;
}

.sub-header-wrapper {
  display: flex;
  gap: 10px;
}

h1 {
  font-family: "Inter";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-family: "Inter";
  font-size: 35px;
  font-weight: 500;
  line-height: auto;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: auto;
}

h4 {
  font-family: "Space Mono";
  font-size: 18px;
  font-weight: "regular";
  line-height: auto;
}

h6 {
  color: var(--Grey-4, #a5a5a5);
  font-family: "Space Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 21.6px */
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

a {
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Responsive styles for screens up to 991px wide */
@media (max-width: 991px) {
  h1 {
    font-size: 40px;
    /* Smaller size for medium screens */
  }

  h2 {
    font-size: 30px;
    /* Adjusted size for medium screens */
  }

  h3,
  h4,
  h6,
  p {
    font-size: 16px;
    /* Adjusted size for medium screens */
  }
  .padding-global {
    padding: 0 32px;
  }
}

/* Responsive styles for screens up to 478px wide */
@media (max-width: 478px) {
  h1 {
    font-size: 30px;
    /* Smaller size for small screens */
  }

  h2 {
    font-size: 25px;
    /* Adjusted size for small screens */
  }

  h3,
  h4,
  h6,
  p {
    font-size: 14px;
    /* Adjusted size for small screens */
  }

  .padding-global {
    padding: 0 16px;
  }
  .padding-section-xl {
    padding: 82px 0;
  }

  .padding-section-large {
    padding: 64px 0;
  }

  .padding-section-medium {
    padding: 48px 0;
  }

  .padding-section-small {
    padding: 32px 0;
  }

  .padding-section-mini {
    padding: 16px 0;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/Footer/Footer.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
/* Base styles - applied for all screen sizes */

.footer-section-wrapper {
  background-color: black;
  color: white;
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 36px;
}

.footer-content-wrapper img {
  width: 101px;
  height: 36px;
}

.breakline {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 36px;
}

.footer-contact-content-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 100px;
  max-width: 600px;
}

.footer-contact-wrapper p,
.footer-contact-wrapper a {
  color: var(--Grey-1, #f5f5f5);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  line-height: 150%;
  margin: 3px 0px;
}

/* Styles for screens up to 991px wide */

@media (max-width: 991px) {
  .footer-contact-wrapper {
    flex-direction: column;
  }

  .footer-contact-content-right {
    padding-left: 0; /* Remove padding for smaller screens */
  }

  /* Additional responsive styles can be added here */
}

/* Styles for screens up to 478px wide */

@media (max-width: 478px) {
  .footer-content-wrapper {
    gap: 18px; /* Reduce gap for smaller screens */
  }

  .footer-contact-wrapper p {
    font-size: 12px; /* Smaller font size for better readability */
  }

  /* Additional responsive styles can be added here */
}

