

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Align text in the center */
    height: 810px; /* Set the height of the section to full viewport height */
    color: white; /* Text color */
    /* Background color of the section */
    font-family: 'Space Grotesk', sans-serif; /* Assuming you want to use Space Grotesk */
    padding: 50px; /* Add some padding */
}

.blackbox {
    position: absolute;
    height: 562px;
    width: 562px;
    background-color: #242424; 
    z-index: 1;
    margin-left: 30%;
    margin-bottom: 15%

}

.camobox {
    position: absolute;
    height: 562px;
    width: 562px;
    background-color: green; 
    z-index: 2;
    margin-right: 30%;
    margin-top: 2%;
    background-image: url('../../../public/camosegment1.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.section h1 {
    margin: 0; /* Remove default margin */
    font-family: 'Inter';
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    z-index: 3;/* Adjust font size as needed */
}

.section p {
    color: #FFF; 
    font-size: 20px;
    font-weight: 400;
    z-index: 2; 
    font-family: 'Space Mono', monospace; /* Add Space Mono font */
}
  